.text-content-base {
    position: absolute;
    left: 50%;
    top: 110px;
    margin-left: -380px;
}

.text-content {
    width: 90%;
    margin-left: -20px;
    margin-top: -20px;
    padding: 5px;
    padding-left: 15px;
    background: rgba(218, 217, 190, 0.1);
    border-left: 3px solid rgba(124, 194, 181, 0.151);
}

.text-content a {
    text-decoration: none;
}

.code-breakdown {
    padding-left: 40px;
    font-size: 90%;
    width: 80%;
}

.section-title {
    margin: 0;
    font-weight: lighter;
    font-size: x-large;
}

.code-text {
    position: relative;
    left: 100px;
    width: fit-content;
    color: rgb(92, 92, 92);
    font-size: 105%;
    font-family: 'Source Code Pro';
    margin: 5px;
    padding: 5px;
    border-left: solid red;
    border-left-width: 3px;
    background: rgba(220, 220, 220, 0.2);
}

.inline-code {
    font-family: 'Source Code Pro';
    position: relative;
    color: rgb(92, 92, 92);
}

.question-block {
    position: relative;
    padding-left: 15px;
    padding-bottom: 15px;
    padding-top: 1px;
    left: 25%;
    margin-left: -10rem;
    background: rgba(219, 219, 219, 0.904);
    width: 700px;
    color: black;
}

.question-code {
    color: rgb(92, 92, 92);
    background: white;
    width: fit-content;
    font-family: 'Source Code Pro';
    padding: 5px;
    margin: 2px;
    margin-left: 20px;
    border-left: solid blue;
    border-left-width: 3px;
}

.answers {
    display: flex;
    flex-direction: column;
    background: white;
    width: 75%;
}

.ans-title {
    margin: 0;
    padding: 0;
    padding-left: 10px;
    max-width: 100%;
    display: flex;
    justify-content: flex-start;
    border-bottom: 2px solid black;
    cursor: pointer;
}

.ans-title-vis {
    margin: 0;
    padding: 0;
    padding-left: 10px;
    max-width: 100%;
    display: flex;
    justify-content: flex-start;
    border-bottom: 2px solid black;
    cursor: default;
}

.ans-title:hover {
    background-color: gainsboro;
}

.correct {
    background: rgba(0, 128, 0, 0.247);
}

.incorrect {
    background: rgba(255, 0, 0, 0.205);
}

.section-divider {
    margin: auto;
    width: 80%;
    margin-top: 2rem;
    margin-bottom: 2rem;
}

/* CSSTransitions */
.dropdown {
    position: relative;
    width: 100%;
    overflow: hidden;
}

.dropdown-content {
    height: 0;
}

.answer-dropdown-enter-active {
    transition: height 200ms ease;
}

/* IMAGES */
img {
    max-width: 600px;;
    height: auto;
}

.rounded {
    width: 25rem;
    height: auto;
    border-radius: 20px;
    border: 5px solid rgb(15, 177, 15);
    margin-left: 10%;
    transition: all 100ms ease;
    box-shadow: 10px -5px rgba(15, 177, 15, 0.219);
}

.rounded:hover {
    box-shadow: 20px -10px rgba(15, 177, 15, 0.397);
}

#instance-graphic {
    width: 30rem;
    height: auto;
    transition: all 100ms ease;
}

#instance-graphic:hover{
    width: 40rem;
    height: auto;
}

#instance {
    width: 100%;
    height: auto;
}

/* IDK WHAT THIS IS */

#blockcomp {
    position: relative;
    left: 5rem;
}

#blockcomp-desc {
    position: absolute;
    left: 38rem;
    top: 11rem;
    width: 10rem;
    font-size: smaller;
}

.ex-img {
    display: flex;
}

.ex-img img {
    width: 5rem;
    height: auto;
    align-self: flex-end;
}

.ex-img p {
    margin-left: 2rem;
}

.instances-box {
    --main-border-color: rgb(81, 119, 241);
    --main-bg: rgba(81, 118, 241, 0.315);
    --main-bg-pre: rgba(81, 118, 241, 0.178);
    margin-left: 5rem;
    display: flex;
    width: fit-content;
    padding: 0 1rem 0 1rem;
    justify-content: space-around;
    border-radius: 20px;
    border: 5px solid var(--main-border-color);
    box-shadow: 10px -5px var(--main-bg-pre);
    transition: all 100ms ease;
}

#expanding {
    margin-left: 1rem;
}

.instances-box:hover {
    box-shadow: 20px -10px var(--main-bg);
}

.instances-box p {
    width: 20rem;
}

.instances-box img {
    margin: 1rem 2rem 1rem 2rem;
}

/* VOCAB */
.vocab-attr {
    color: green;
    font-style: italic;
    font-weight: bold;
}

.vocab-inst {
    color: rgb(81, 119, 241);
    font-style: italic;
    font-weight: bold;
}