.text-content-base {
    position: absolute;
    left: 50%;
    top: 110px;
    margin-left: -300px;
}

.text-content {
    width: 90%;
    margin-left: -20px;
    margin-top: -20px;
    padding: 5px;
    padding-left: 15px;
    background: rgba(218, 217, 190, 0.1);
    border-left: 3px solid rgba(124, 194, 181, 0.151);
}

.text-content a {
    text-decoration: none;
}

.code-breakdown {
    padding-left: 40px;
    font-size: 90%;
    width: 80%;
}

.code-text {
    position: relative;
    left: 100px;
    width: fit-content;
    color: rgb(92, 92, 92);
    font-size: 105%;
    font-family: 'Source Code Pro';
    margin: 5px;
    padding: 5px;
    border-left: solid red;
    border-left-width: 3px;
    background: rgba(220, 220, 220, 0.2);
}

.inline-code {
    font-family: 'Source Code Pro';
    position: relative;
    color: rgb(92, 92, 92);
}

.question-block {
    position: relative;
    padding-left: 15px;
    padding-bottom: 15px;
    margin-left: 30px;
    background: rgba(219, 219, 219, 0.904);
    width: 700px;
    color: black;
}

.question-code {
    color: rgb(92, 92, 92);
    background: white;
    width: fit-content;
    font-family: 'Source Code Pro';
    padding: 5px;
    margin: 2px;
    margin-left: 20px;
    border-left: solid blue;
    border-left-width: 3px;
}

.answers {
    display: flex;
    flex-direction: column;
    background: white;
    width: 95%;
}

.answers ul {
    margin: 0;
    padding: 0;
    padding-left: 10px;
    max-width: 100%;
    display: flex;
    justify-content: flex-start;
    border-bottom: 2px solid black;
}