.rollingtitle {
    position: absolute;
    left: var(--main-left-percent);;
    margin-left: -380px;
    top: 110px;
    margin-top: 0;
    font-weight: 500;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

/* SECTION TITLES */
#rollingline {
    position: fixed;
    border: none;
    z-index: 1;
    transition: all 100ms ease;
}

.javaroll {
    background-color: red;
}

.forgeroll {
    background-color: green;
}

.basicitemroll {
    background-color: blue;
}

.scroll-svg {
    margin-top: 1.9rem;
    left: var(--main-left-percent);
    margin-left: -29.5rem;
    z-index: 2;
    position: fixed;
    transition: all 100ms ease;
}

/* FUNCTIONAL CLASSES */

.scrolled-line {
    margin-top: -8px;
    left: var(--main-left-percent);
    margin-left: -380px;
    width: 5rem;
    height: 0.75rem;
    opacity: 1;
}

.scroll-up-line {
    margin-top: 2rem;
    left: var(--main-left-percent);
    margin-left: -30rem;
    width: 3rem;
    height: 1rem;
    opacity: 0.3;
}

@media (max-width: 1080px) {
    .scroll-up-line {
        left: 0;
        margin-left: 2.5rem;
    }
    .scroll-svg {
        left: 0;
        margin-left: 3rem;
    }
}

.scroll-svg:hover {
    transform: translateY(-25%);
    opacity: 1;
}

/* ANIMATIONS */
.scroll-in-enter {
    transform: translateY(75%);
    overflow: hidden;
    opacity: 0;
}

.scroll-in-enter-active {
    transform: translateY(0%);
    opacity: 0.5;
}

.scroll-in-exit {
    transform: translateY(0%);
    opacity: 0.5;
}

.scroll-in-exit-active {
    transform: translateY(-75%);
    opacity: 0;
}