.rollingtitle {
    position: absolute;
    left: var(--main-left-percent);;
    margin-left: -380px;
    top: 110px;
    margin-top: 0;
    font-weight: 500;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

/* SECTION TITLES */
#rollingline {
    position: fixed;
    left: var(--main-left-percent);
    margin-left: -380px;
    margin-top: -8px;
    width: 5rem;
    height: 0.75rem;
    border: none;
    z-index: 1;
    transition: all 100ms ease;
}

.javaroll {
    background-color: red;
}

.forgeroll {
    background-color: green;
}

.basicitemroll {
    background-color: blue;
}

.scroll-svg {
    left: var(--main-left-percent);
    z-index: 2;
    margin-left: -450px;
    margin-top: -12px;
    position: fixed;
    transition: all 100ms ease;
    opacity: 0.5;
}

.scroll-svg:hover {
    transform: translateY(-25%);
    opacity: 1;
}