#header-title {
  text-decoration: none;
  color: black;
}

.header {
    margin: auto;
    background: #7CC2B5;
    width: 325px;
    text-align: center;
    position: relative;
    line-height: 70%;
  }

  .header-link:link {
    color: black;
    text-decoration: none;
    font-weight: 500;
    opacity: 80%;
  }

  .header-link:hover {
    font-weight: 600;
    opacity: 100%;
  }

  .header-link:visited {
    color: black;
  }

  .header-line {
      width: 400px;
      margin: auto;
  }