.setup {
    font-size: large;
    margin: auto;
    width: 800px;
    overflow: hidden;
}

.setup h3 {
    font-weight: bold;
    font-size: 130%;
    color: #3E3243;
    line-height: 20%;
}

.setup-line {
    width: 500px;
    margin-top: 0;
    color: rgba(124, 194, 181, 0.6);
    background-color: rgba(124, 194, 181, 0.6);
    height: 6px;
    border: 0;
}
/* HIGHER UP COMPONENTS */
.download {
    width: 330px;
    height: 10px;
    background: rgba(37, 92, 153, 0.1);
}

.download:hover {
    cursor: pointer;
    background: rgba(37, 92, 153, 0.3);
}

.download-open {
    width: 330px;
    height: 10px;
    cursor: pointer;
    background: rgba(37, 92, 153, 0.3);
}

.ideprojstruct {
    width: 310px;
    height: 10px;
    background: rgba(241, 143, 1, 0.2);
}

.ideprojstruct:hover {
    cursor: pointer;
    background: rgba(241, 143, 1, 0.8);
}

.ideprojstruct-open {
    width: 310px;
    height: 10px;
    cursor: pointer;
    background: rgba(241, 143, 1, 0.8);
}

.concepts {
    width: 270px;
    height: 10px;
    background: rgba(240, 93, 94, 0.2);
}

.concepts:hover {
    cursor: pointer;
    background: rgba(240, 93, 94, 0.8);
}

.concepts-open {
    width: 270px;
    height: 10px;
    cursor: pointer;
    background: rgba(240, 93, 94, 0.8);
}

/* HIGHER CONCEPTS */

.download-line {
    color: #255C99;
    background-color: #255C99;
    margin-left: 30px;
    width: 160px;
    height: 3px;
    border: 0;
}

.ide-line {
    color: #F18F01;
    background-color: #F18F01;
    margin-left: 30px;
    width: 160px;
    height: 3px;
    border: 0;
}

.concepts-line {
    color: #F05D5E;
    background-color: #F05D5E;
    margin-left: 20px;
    width: 150px;
    height: 3px;
    border: 0;
}

#dl-links {
    margin-left: 30px;
}

.details {
    position: relative;
    left: 30px;
}

.detail-opener {
    background: rgba(245, 237, 240, 1);
    width: 250px;
    height: 10px;
    cursor: pointer;
    line-height: 70%;
    margin-left: -20px;
}

.detail-opener:hover {
    background: rgba(245, 237, 240, 0.3);
}

.detail-background {
    margin: auto;
    position: absolute;
    left: 50%;
    top: 10px;
    transform: translateX(-50%);
    background: rgba(245, 237, 240, 1);
    width: 115%;
    height: 88%;
    z-index: -1;
}

.details-opened {
    position: relative;
    top: -10px;
}

.details-opened p {
    position: relative;
    top: -10px;
}

.details-opened-title {
    font-weight: lighter;
    font-size: 115%;
    line-height: 50%;
}
/* CSSTransition classes */
.example-enter {
    opacity: 0.01;
  }
  
.example-enter.example-enter-active {
    opacity: 1;
    transition: all 100ms ease-in;
}
  
.example-leave {
    opacity: 1;
}

.example-leave.example-leave-active {
    opacity: 0.01;
    transition: all 200ms ease-in;
}