.tutorial {
    font-size: 120%;
}

.sidenav {
    display: block;
    z-index: 10;
    width: 200px;
    height: auto;
    position: fixed;
    margin-left: -38rem;
    margin-top: 4rem;
    transition: all 1s ease;
    font-size: 110%;
    left: var(--main-left-percent);
}

.sidenav-BG {
    position: absolute;
    left: -3rem;
    transition: all 100ms ease;
}

.back-rect{
    transition: all 100ms ease;
}

.sidenav:hover .sidenav-BG .back-rect{
    transform: translateX(-5px) translateY(5px);
}

.sidebar {
    position: fixed;
    left: var(--main-left-percent);;
    top: 10%;
    margin-left: -30rem;
    transform: translateX(100%);
    opacity: 0;
    transition: all 300ms ease;
}

.sidebar img {
    width: 60%;
    height: 60%;
}

.sidebar img:hover {
    filter: brightness(200%);
    cursor: pointer;
}

@media (max-width: 1400px) {
    .sidebar {
        transform: translateX(0%);
        opacity: 1;
    }
}

/* CURLY SIDE BRACE */
.curlybrace {
    position: absolute;
    transition: all 50ms ease;
}

.curlybrace.java {
    top: 0;
    left: -68px;
    width: 80px;
    height: 150px;
}

.curlybrace.forge {
    top: 9rem;
    left: -60px;
    width: 70px;
    height: 125px;
}

.curlybrace.basicitem {
    top: 16rem;
    left: -60px;
    width: 70px;
    height: 150px;
}

/* SIDENAV TEXT */

.content {
    margin-left: 0;
    text-align: left;
    font-size: normal;
    opacity: 0.8;
    cursor: pointer;
}

.content p {
    opacity: 0.8;
    margin-top: 5px;
    margin-bottom: 5px;
}

.content p:hover {
    opacity: 1;
    font-weight: 450;
    color: #EB5E55;
}

.content .opened {
    color: #EB5E55;
}

.closed {
    margin-top: 10px;
    margin-bottom: 0;
    font-size: larger;
    font-weight: normal;
}

.sidenav-line {
    margin-top: 0;
    margin-bottom: 2px;
    color: #A882DD;
    background-color: #A882DD;
    margin-left: 17px;
    border: 0;
    height: 2px;
}

.shorter {
    width: 30px;
}

.longer {
    width: 40px;
}

.longest {
    width: 80px;
}

/* CSSTransitions */
.line-open-enter {
    overflow: hidden;
    transform: scaleX(0) translateX(-100%);
}

.line-open-enter-active {
    transform: scaleX(1) translateX(0%);
    transition: all 300ms ease;
}

.line-open-exit {
    transform: scaleX(1) translateX(0%);
}

.line-open-exit-active {
    transform: scaleX(0) translateX(-100%);
    transition: all 100ms ease 2s;
}