.tutorial {
    font-size: large;
}

.sidenav {
    display: block;
    z-index: 10;
    width: 200px;
    height: 600px;
    position: fixed;
    left: 50%;
    margin-left: -620px;
    margin-top: 20px;
    transform: translateX(0%);
    transition: transform 1s ease;
    background: rgb(195, 243, 234);
}

.sidebar {
    position: absolute;
    left: 50%;
    top: 5%;
    margin-top: -15px;
    margin-left: -410px;
    transform: translateX(30%);
    opacity: 0;
    transition: all 300ms ease;
}

.sidebar img {
    width: 60%;
    height: 60%;
}

.sidebar img:hover {
    filter: brightness(200%);
    cursor: pointer;
}

@media (max-width: 1300px) {
    .sidebar {
        transform: translateX(0%);
        opacity: 1;
    }
}

.curlybrace {
    position: absolute;
    left: -68px;
}

#javabrace {
    width: 80px;
    height: 150px;
}

.content {
    margin-left: 25px;
    text-align: left;
    font-size: normal;
    opacity: 0.8;
    cursor: pointer;
}

.content p {
    opacity: 0.8;
    margin-top: 5px;
    margin-bottom: 5px;
}

.closed {
    margin-top: 10px;
    margin-bottom: 0;
    font-size: larger;
    font-weight: normal;
    cursor: pointer;
}

.content p:hover {
    opacity: 1;
    font-weight: 450;
}

.sidenav-line {
    margin-top: 0;
    margin-bottom: 2px;
    color: #A882DD;
    background-color: #A882DD;
    margin-left: 17px;
    border: 0;
    height: 2px;
}

.shorter {
    width: 30px;
}

.longer {
    width: 40px;
}

.longest {
    width: 80px;
}

.rollingline {
    position: absolute;
    left: 50%;
    margin-top: -8px;
    margin-left: -380px;
    margin-bottom: 0;
    width: 75px;
    height: 12px;
    background: red;
    border: 0;
}

.rollingtitle {
    position: absolute;
    left: 50%;
    margin-left: -380px;
    top: 110px;
    margin-top: 0;
    font-weight: 500;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

/* CSSTransitions */

.line-open-enter {
    overflow: hidden;
    transform: scaleX(0) translateX(-100%);
}

.line-open-enter-active {
    transform: scaleX(1) translateX(0%);
    transition: all 300ms ease;
}

.line-open-exit {
    transform: scaleX(1) translateX(0%);
}

.line-open-exit-active {
    transform: scaleX(0) translateX(-100%);
    transition: all 100ms ease 2s;
}